<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Todo list with timer</title>
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../bower_components/components-font-awesome/css/font-awesome.min.css">
</head>
<body ng-app="app">

<div class="container" ng-controller="mainController as main">
    <div class="col-md-6">
        <h2>New task</h2>
        <hr/>

        <form novalidate name="form" ng-submit="main.addTask()">
            <div class="form-group">
                <label>Title</label>
                <input name="title" required type="text" ng-model="main.form.title" placeholder="title"
                       max="20"
                       class="form-control">
                <span class="error" ng-show="form.title.$error.required">Title Required!</span>
            </div>
            <div class="form-group">
                <label>Description</label>
                <textarea name="description" ng-model="main.form.description" placeholder="description"
                          class="form-control"></textarea>
            </div>
            <div class="form-group">
                <label>Date</label>
                <input type="text" name="date" ng-pattern="/^\d{2}.\d{2}.\d{4}$/" required placeholder="dd.MM.yyyy"
                       ng-model="main.form.date" class="form-control">
                <span class="error" ng-show="form.date.$error.required">Date Required!</span>
                <span class="error" ng-show="form.date.$error.pattern">Incorrect Format, should be dd.MM.yyyy</span>
            </div>
            <div class="form-group">
                <label>Time</label>
                <input type="text" name="time" ng-pattern="/^([0-1][0-9]|[2][0-3]):([0-5][0-9])$/" required placeholder="HH:mm" ng-model="main.form.time"
                       class="form-control">
                <span class="error" ng-show="form.time.$error.required">Time Required!</span>
                <span class="error" ng-show="form.time.$error.pattern">Incorrect Format, should be HH:mm</span>
            </div>
            <button class="btn btn-default" ng-disabled="!form.$valid" type="submit">Submit</button>
        </form>
    </div>
    <div class="col-md-6">
        <h2>Task list</h2>
        <hr/>
        <ul class="list-group" ng-show="main.tasks.length > 0">
            <li class="list-group-item clearfix task" ng-repeat="task in main.tasks track by $index">
                <div class="col">
                    <div class="col-md-6 vertical-center">
                        <span class="pull-left">{{::task.title}}</span>
                        <timer class="pull-right" data="task"></timer>
                    </div>

                    <div class="col-md-6">
                        <span class="pull-right">
                            <button class="btn btn-danger btn-xs" ng-click="main.removeTask($index)">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </span>
                    </div>
                </div>
                <div ng-if="task.description" class="col">
                    <div class="col-md-12">
                        {{::task.description}}
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>

<script src="/bower_components/angular/angular.js"></script>
<script src="js/app.js"></script>
<script src="js/controllers/mainController.js"></script>
<script src="js/services/dateHelperService.js"></script>
<script src="js/directives/timer.js"></script>
</body>
</html>